<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div style="min-height: 200px;">
        <img ng-src="{{$ctrl.mainImageUrl}}" class="phone" width="100%" />
      </div>
      <div class="row placeholders">
        <div ng-repeat="img in $ctrl.phone.images" class="col-sm-3 placeholder">
          <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" width="100%" style="cursor: pointer;" />
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <h1 class="page-header">{{$ctrl.phone.name}}</h1>
      <p>{{$ctrl.phone.description}}</p>
      <p style="color: orange;font-weight: bold;font-size: 16pt;">${{$ctrl.phone.price}}</p>
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="$ctrl.cntMinus()">-</button>
        </span>
        <input type="text" class="form-control" ng-model="$ctrl.cnt" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="$ctrl.cntPlus()">+</button>
        </span>
      </div>
      <br>
      <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.addToCart($ctrl.phone.id)" >Add to cart</button>
      <ul>
        <li>
          <span>Availability and Networks</span>
          <dl>
            <dt>Availability</dt>
            <dd ng-repeat="availability in $ctrl.phone.availability">{{availability}}</dd>
          </dl>
          <dl>
            <dt>Infrared</dt>
            <dd>{{$ctrl.phone.connectivity.infrared | checkmark}}</dd>
            <dt>GPS</dt>
            <dd>{{$ctrl.phone.connectivity.gps | checkmark}}</dd>
          </dl>
        </li>
        <li>
          <span>Additional Features</span>
          <dd>{{$ctrl.phone.additionalFeatures}}</dd>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>{{$ctrl.phone.fulldescription}}</p>
    </div>
  </div>
</div>