<div class="modal fade" id="buy-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{modal.phone.name}}</h4>
      </div>
      <div class="modal-body">
        <h1 class="page-header">{{modal.phone.name}}</h1>
        <p>{{modal.phone.description}}</p>
        <p style="color: orange;font-weight: bold;font-size: 16pt;">${{modal.phone.price}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        <button ng-click="addToCart(modal.phone.id)" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Buy</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav nav-sidebar">
        <li class="active">
          <input ng-model="query" type="text" class="form-control" placeholder="Search...">
        </li>
        <li>
          Sort by:
          <select ng-model="orderProp" class="form-control">
            <option value="name">Name</option>
            <option value="price">Price</option>
          </select>
        </li>
      </ul>
    </div>

    <div class="col-sm-10">
      <h1 class="page-header">Phones</h1>
      <div class="row placeholders">
        <div ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="col-sm-3 placeholder" style="height: 250px;overflow: hidden;">
          <a href="#!/phones/{{phone.id}}">
            <img ng-src="{{phone.imageUrl}}" width="100%" alt="{{phone.name}}" />
          </a>
          <a href="#!/phones/{{phone.id}}"><h4>{{phone.name}}</h4></a>
          <span style="color: orange;font-weight: bold;font-size: 16pt;">${{phone.price}}</span>
          <button ng-click="openModal(phone)" type="button" class="btn btn-xs btn-default pull-right" data-toggle="modal" data-target="#buy-modal">Buy</button>
          <p class="text-muted">{{phone.snippet}}</p>
        </div>
      </div>
    </div>
  </div>
</div>