<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">Phones</h1>
      <div class="row placeholders">
        <div ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="col-sm-3 placeholder" style="height: 250px;overflow: hidden;text-align: center;">
          <a href="#!/phones/{{phone.id}}">
            <img ng-src="{{phone.imageUrl}}" width="100%" alt="{{phone.name}}" />
          </a>
          <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
          <p style="color: orange;font-weight: bold;">{{phone.price | price}} RUR</p>
          <button ng-click="$ctrl.openComponentModal(phone)" type="button" class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>